/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Wave ignores.
/public/.well-known
/public/demo
/.vagrant
/wave-pro
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/wave/vendor/
/public/wave/docs
/storage/app/analytics
/packages
storage/app/livewire-tmp
resources/themes/.gitignore
/resources/plugins/*
!/resources/plugins/installed.json
/storage/app/public/livewire-tmp
/storage/app/public/*
!/storage/app/public/demo

# Ignore everything inside the resources/plugins folder
resources/plugins/*

# But do not ignore the resources/plugins folder itself
!resources/plugins/
app/Models/ChFavorite.php
app/Models/ChMessage.php
config/chatify.php
config/lfm.php
config/sort-and-filter.php
database/migrations/2024_12_12_999999_add_active_status_to_users.php
database/migrations/2024_12_12_999999_add_avatar_to_users.php
database/migrations/2024_12_12_999999_add_dark_mode_to_users.php
database/migrations/2024_12_12_999999_add_messenger_color_to_users.php
database/migrations/2024_12_12_999999_create_chatify_favorites_table.php
database/migrations/2024_12_12_999999_create_chatify_messages_table.php
lfmbkup.php
public/build/assets/app-Cp2yOFbK.css
public/build/assets/theme-DKfZJLvp.css
public/css/awcodes/tiptap-editor/tiptap.css
public/css/chatify/dark.mode.css
public/css/chatify/light.mode.css
public/css/chatify/style.css
public/css/filament/filament/app.css
public/css/filament/forms/forms.css
public/js/awcodes/tiptap-editor/components/tiptap.js
public/js/chatify/autosize.js
public/js/chatify/code.js
public/js/chatify/font.awesome.min.js
public/js/chatify/utils.js
public/js/filament/filament/app.js
public/js/filament/filament/echo.js
public/js/filament/forms/components/color-picker.js
public/js/filament/forms/components/date-time-picker.js
public/js/filament/forms/components/file-upload.js
public/js/filament/forms/components/key-value.js
public/js/filament/forms/components/markdown-editor.js
public/js/filament/forms/components/rich-editor.js
public/js/filament/forms/components/select.js
public/js/filament/forms/components/tags-input.js
public/js/filament/forms/components/textarea.js
public/js/filament/notifications/notifications.js
public/js/filament/support/async-alpine.js
public/js/filament/support/support.js
public/js/filament/tables/components/table.js
public/js/filament/widgets/components/chart.js
public/js/filament/widgets/components/stats-overview/stat/chart.js
public/sounds/chatify/new-message-sound.mp3
public/vendor/laravel-filemanager/css/cropper.min.css
public/vendor/laravel-filemanager/css/dropzone.min.css
public/vendor/laravel-filemanager/css/lfm.css
public/vendor/laravel-filemanager/css/mime-icons.min.css
public/vendor/laravel-filemanager/files/.gitkeep
public/vendor/laravel-filemanager/files/adobe.pdf
public/vendor/laravel-filemanager/files/folder-1/sleeping-dog.jpg
public/vendor/laravel-filemanager/files/word.docx
public/vendor/laravel-filemanager/images/.gitkeep
public/vendor/laravel-filemanager/images/test-folder/sleeping-dog.jpg
public/vendor/laravel-filemanager/images/test-folder/thumbs/sleeping-dog.jpg
public/vendor/laravel-filemanager/img/152px color.png
public/vendor/laravel-filemanager/img/72px color.png
public/vendor/laravel-filemanager/img/92px color.png
public/vendor/laravel-filemanager/img/folder.png
public/vendor/laravel-filemanager/img/loader.svg
public/vendor/laravel-filemanager/img/Logomark color.png
public/vendor/laravel-filemanager/js/cropper.min.js
public/vendor/laravel-filemanager/js/dropzone.min.js
public/vendor/laravel-filemanager/js/filemanager.js
public/vendor/laravel-filemanager/js/filemanager.min.js
public/vendor/laravel-filemanager/js/script.js
public/vendor/laravel-filemanager/js/stand-alone-button.js
resources/views/vendor/Chatify/layouts/favorite.blade.php
resources/views/vendor/Chatify/layouts/footerLinks.blade.php
resources/views/vendor/Chatify/layouts/headLinks.blade.php
resources/views/vendor/Chatify/layouts/info.blade.php
resources/views/vendor/Chatify/layouts/listItem.blade.php
resources/views/vendor/Chatify/layouts/messageCard.blade.php
resources/views/vendor/Chatify/layouts/modals.blade.php
resources/views/vendor/Chatify/layouts/sendForm.blade.php
resources/views/vendor/Chatify/pages/app.blade.php
routes/chatify/api.php
routes/chatify/web.php
public/css/filament/filament/app.css
public/css/filament/forms/forms.css
public/js/filament/filament/app.js
public/js/filament/filament/echo.js
public/js/filament/forms/components/color-picker.js
public/js/filament/forms/components/date-time-picker.js
public/js/filament/forms/components/file-upload.js
public/js/filament/forms/components/key-value.js
public/js/filament/forms/components/markdown-editor.js
public/js/filament/forms/components/rich-editor.js
public/js/filament/forms/components/select.js
public/js/filament/forms/components/tags-input.js
public/js/filament/forms/components/textarea.js
public/js/filament/notifications/notifications.js
public/js/filament/support/async-alpine.js
public/js/filament/support/support.js
public/js/filament/tables/components/table.js
public/js/filament/widgets/components/chart.js
public/js/filament/widgets/components/stats-overview/stat/chart.js
public/js/filament/widgets/components/stats-overview/stat/chart.js
public/js/filament/widgets/components/chart.js
public/js/filament/tables/components/table.js
public/js/filament/support/support.js
public/js/filament/support/async-alpine.js
public/js/filament/notifications/notifications.js
public/js/filament/forms/components/textarea.js
public/js/filament/forms/components/tags-input.js
public/js/filament/forms/components/select.js
public/js/filament/forms/components/rich-editor.js
public/js/filament/forms/components/markdown-editor.js
public/js/filament/forms/components/key-value.js
public/js/filament/forms/components/file-upload.js
public/js/filament/forms/components/date-time-picker.js
public/js/filament/forms/components/color-picker.js
public/js/filament/filament/echo.js
public/js/filament/filament/app.js
public/css/filament/forms/forms.css
public/css/filament/filament/app.css
public/css/filament/filament/app.css
public/css/filament/forms/forms.css
public/js/filament/filament/app.js
public/js/filament/filament/echo.js
public/js/filament/forms/components/color-picker.js
public/js/filament/forms/components/date-time-picker.js
public/js/filament/forms/components/file-upload.js
public/js/filament/forms/components/key-value.js
public/js/filament/forms/components/markdown-editor.js
public/js/filament/forms/components/rich-editor.js
public/js/filament/forms/components/select.js
public/js/filament/forms/components/tags-input.js
public/js/filament/forms/components/textarea.js
public/js/filament/notifications/notifications.js
public/js/filament/support/async-alpine.js
public/js/filament/support/support.js
public/js/filament/tables/components/table.js
public/js/filament/widgets/components/chart.js
public/js/filament/widgets/components/stats-overview/stat/chart.js
