<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Handle Laravel's standard routing
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>